html {
  font-family: Lora, serif;
}

.masthead {
  color: #fff;
  background-color: #588477;
  border-bottom: 3px solid #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;
  background-repeat: repeat;
  border-top: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  background-color: #467366;
  border: solid 3px rgba(16, 52, 41, .8);
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.banner {
  background-image: linear-gradient(to top, rgba(16, 52, 41, .8), rgba(16, 52, 41, 0) 35%), url("../images/banner.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid #145b1d;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: .75em 180px;
  color: #fff;
  border-bottom: 1px solid #145b1d;
  padding-top: 300px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
